.section__typography {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  gap: 2rem;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #0d3970;
}

.section__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #0d3970;
}

.section_img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.section__container {
  padding: 0 2rem;
}

.section__content {
  max-width: 1295px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 1024px) { 

  .section__typography {
    gap: 1rem;
  }
  .section__title {
    font-size: 28px;
    line-height: 140%;
  }
  
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 24px;
    line-height: 130%;
  }
}

@media screen and (max-width: 425px) {

  .section__title {
    font-weight: 500;
  }

  .section__container {
    margin: 2rem 0;
    padding: 0 1rem;
  }
  .section__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 0;
  }

  .section__content-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section__typography {
    padding: 0 0;
  }
}